@{
    Layout = "_Layout";
}
@using Bakery.Models;

<main>
    @Html.ActionLink("Logout", "LogOut", "Account")
    <section>
        <h3>Flavors</h3>
        @if (Model["Flavors"].Count == 0)
        {
            <p>No flavors are currently listed yet. Please check back later.</p>
        }

        <ul class="items-list">
            @foreach (Flavor flavor in Model["Flavors"])
            {
                <li>
                    @Html.ActionLink(@flavor.Name, "Details", "Flavors", new { id = flavor.FlavorId })
                </li>
            }
        </ul>
    </section>
    <section>
        <h3>Treats</h3>
        @if (Model["Treats"].Count == 0)
        {
            <p>No treats are currently listed yet. Please check back later.</p>
        }

        <ul class="items-list">
            @foreach (Treat treat in Model["Treats"])
            {
                <li>
                    @Html.ActionLink(@treat.Name, "Details", "Treats", new { id = treat.TreatId })
                </li>
            }
        </ul>
    </section>
</main>