@{
    Layout = "_Layout";
}
@using Bakery.ViewModels;
@model AccountViewModel

<main>
    @if (ViewBag.Confirmation != null)
    {
        <div class="alert">
            <p>@ViewBag.Confirmation</p>
        </div>
    }
    <section>
        <h3>Profile</h3>
        @if (!ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary("Please fix the following error(s) and resubmit:")
        }

        @using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @class = "details-form"}))
        {
            <div class="form-entry">
                @Html.LabelFor(model => model.FirstName)
                @Html.TextBoxFor(model => model.FirstName)
            </div>
            <div class="form-entry">
                @Html.LabelFor(model => model.LastName)
                @Html.TextBoxFor(model => model.LastName)
            </div>
            <div class="form-entry">
                @Html.LabelFor(model => model.DOB)
                @Html.EditorFor(model => model.DOB)
            </div>
            <div class="form-entry">
                @Html.LabelFor(model => model.UserName)
                @Html.EditorFor(model => model.UserName)
            </div>
            <div class="form-entry">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email)
            </div>
            <div class="form-entry">
                @Html.Label("Password", "Old Password")
                @Html.EditorFor(model => model.Password)
            </div>
            <div class="form-entry">
                @Html.Label("PasswordConfirm", "New Password")
                @Html.EditorFor(model => model.PasswordConfirm)
            </div>
            <div class="form-submit">
                <input type="submit" value="Save Changes" />
            </div>
        }

    </section>
</main>