<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Montserrat&display=swap" rel="stylesheet">
    <title>Sweet and Savory Treats</title>
    <link rel="stylesheet" href="~/styles.css">
</head>
<body>
    <header>
        <h1>@Html.ActionLink("Pierre's Sweet and Savory Treats", "Login", "Account")</h1>
        <ul class="nav">
            @if (ViewBag.IsLoggedIn == null)
            {
                <li>@Html.ActionLink("Catalog", "Index", "Home")</li>
            }
            else
            {
                @if (ViewBag.IsLoggedIn)
                {
                    <li>Hello @ViewBag.Name</li>
                    <li>@Html.ActionLink("Catalog", "Index", "Account")</li>
                    <li>@Html.ActionLink("Profile", "Details", "Account")</li>
                    <li>@Html.ActionLink("Logout", "LogOut", "Account")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                }
            }
        </ul>
    </header>
    @RenderBody()
</body>
</html>