@{
    Layout = "_Layout";
}
@using Bakery.Models;
@model TreatFlavor

<main>
    <section>
        @if (Model.FlavorId != null)
        { <h3>@Model.Flavor.Name</h3> }
        else
        { <h3>@Model.Treat.Name</h3> }
        @using (Html.BeginForm("Edit", "Menu", new { @class = "details-form"}))
        {
            if (ViewBag.TreatId != null)
            {
                @Html.HiddenFor(model => model.FlavorId)

                @Html.LabelFor(model => model.Flavor.Name)
                @Html.TextBoxFor(model => model.Flavor.Name)

                @Html.LabelFor(model => model.Flavor.Description)
                @Html.TextBoxFor(model => model.Flavor.Description)

                @Html.Label("Treat", "Add treat")
                @Html.DropDownList("TreatId")
            }
            else
            {
                @Html.HiddenFor(model => model.TreatId)

                @Html.LabelFor(model => model.Treat.Name)
                @Html.TextBoxFor(model => model.Treat.Name)

                @Html.LabelFor(model => model.Treat.Description)
                @Html.TextBoxFor(model => model.Treat.Description)

                @Html.Label("Flavor", "Add flavor")
                @Html.DropDownList("FlavorId")
            }
        }
    </section>
    <section>
        @if (Model.FlavorId != null)
        { <h3>Treats</h3> }
        else
        { <h3>Flavors</h3> }
        <ul class="list-2">
            @{ List<TreatFlavor> treatflavors = Model.FlavorId != null ? Model.Flavor.Treats : Model.Treat.Flavors; }
            @foreach (TreatFlavor join in treatflavors)
            {
                <li>
                    <span>@join.Flavor.Name @join.Treat.Name</span>
                    @Html.ActionLink("Delete", "DeleteJoin", new { id = join.TreatFlavorId, type = Model.FlavorId != null})
                </li>
            }
        </ul>
    </section>
</main>