@{
    Layout = "_Layout";
}
@using Bakery.Models;

<main>
    <section>
        <div class="section-title">
            <h3>Flavors</h3>
            <span>@Html.ActionLink("Add new flavor", "Create")</span>
        </div>
        
        @if (Model["Flavors"].Count == 0)
        {
            <p>No flavors are currently offered.</p>
        }

        <ul class="list-2">
            @foreach (Flavor flavor in Model["Flavors"])
            {
                <li class="list-entry">
                    @Html.ActionLink(@flavor.Name, "Details", new { id = flavor.FlavorId, type = true})
                    @Html.ActionLink("Delete", "Delete", new { id = flavor.FlavorId, type = true})
                </li>
            }
        </ul>
    </section>
    <section>
        <div class="section-title">
            <h3>Treats</h3>
            <span>@Html.ActionLink("Add new treat", "Create")</div>
        </div>
        @if (Model["Treats"].Count == 0)
        {
            <p>No treats are currently offered.</p>
        }

        <ul class="list-2">
            @foreach(Treat treat in Model["Treats"])
            {
                <li class="list-entry">
                    @Html.ActionLink(@treat.Name, "Details", new { id = treat.TreatId, type = false})
                    @Html.ActionLink("Delete", "Delete", new { id = treat.TreatId, type = false})
                </li>
            }
        </ul>
    </section>
</main>