@{
    Layout = "_Layout";
}
@using Bakery.Models;
@model Flavor

<main>
    <section>
        <h3>Add Flavor</h3>
        @if (!ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary("Please fix the following error(s) and resubmit:")
        }
        @using (Html.BeginForm())
        {
            <div class="form-entry">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name)
            </div>
            <div class="form-entry">
                @Html.LabelFor(model => model.Description)
                @Html.TextBoxFor(model => model.Description)
            </div>
            <div class="form-submit">
                <input type="submit" value="Add Flavor" />
            </div>
        }
    </section>
</main>